<div class="col" id="{{id}}" data-source="file">
  <div class="card">
    <img class="card-img-top {{orientation}}" src="img/{{filename}}" />
    <div class="card-body">
      <div class="card-text">
        {{description}}
      </div>
    </div>
  </div>
</div>