<div class="col" id="{{id}}" data-source="file">
  <div class="card">
    <video class="card-img-top" loop muted playsinline autoplay>
      <source src="img/{{filename}}">
    </video>
    <div class="card-body">
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>
