<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="support/bootstrap-5.2.0.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>{{destination}}</title>
    <meta
      property="og:url"
      content="{{domain}}/{{path}}/index.html"
    />
    <meta property="og:title" content="{{tagline}}" />
    <meta property="og:image"
    content="{{domain}}/{{highlight_image}}"
    />
    <link rel="shortcut icon" href="logo.png" />

  <script src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
  <link href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet" />
</head>
<body class="map">
    <div id="map"></div>
</body>
<script src="config.js"></script>
<script src="map.js"></script>
</html>
